.relative (@top, @left) {
	position: relative;
	top: @top;
	left: @left;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.flex-no-wrap (@align-items: normal) {
	display: flex;
	flex-direction: column;
	align-items: @align-items;
}

.background-image {
	background: url('/src/assets/public/background.webp') no-repeat center scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.grid-template {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-template-rows: 450px;
	grid-gap: 2em;
}

.bg-color (@color, @background) {
	color: @color;
	background: @background;
}
