.footer {
	color: @font-li;
	.flex-no-wrap();
	.background-image();

	&__li--title {
		font: 900 3em @family;
		margin: 2em auto 0;
	}

	&__li {
		font: 400 italic 1.5em @family;
		margin: 0.5em auto;
	}

	&__img {
		margin: 0 auto 2.2em;
		border-radius: 1em;
		width: 44em;
		height: 22em;
	}
}
