.nav {
	background: @bg-nav;
	position: fixed;
	width: 100%;
	z-index: 1;
	.flex();

	&__div {
		display: inline-flex;
	}

	&__h1 {
		font: 900 1.2em @family;
		padding: 1em 0;
		color: @font-title;
	}

	&__img {
		z-index: 2;
		opacity: 0.5;
		padding: 0.5em;
		transition: left 0.6s, top 0.3s linear;
		.relative(0, 0);
	}

	&__img:hover {
		opacity: 1;
		.relative(0.5rem, 0.5rem);
	}
}
