.form {
	display: flex;

	&__input {
		font: 1em @family;
		text-transform: capitalize;
		border-radius: 0.5em;
		outline: none;
		padding: 0.2em;
		margin: 1em 0.5em;
		transition: padding 1s;
		.bg-color(@font-input, @bg-input);
	}

	&__input:focus {
		padding: 0.5em;
		transition: padding 0.4s;
	}

	&__input::placeholder {
		font: italic 1em @family;
		color: @font-placeholder;
	}

	&__button {
		font: 700 1em @family;
		background: @bg-input;
		padding: 0.5em;
		border-radius: 0.5em;
		margin: 1em 0.5em;
		cursor: pointer;
		transition: background 0.6s, color 0.6s linear;
	}

	&__button:hover {
		.bg-color(@color-hover, @bg-hover);
	}

	&__button--disabled {
		font: 1em @family;
		padding: 0.5em;
		border-radius: 0.5em;
		margin: 1em 0.5em;
		transition: background 0.6s, color 0.6s linear;
		.bg-color(@font-disable, @bg-disable);
	}
}
